@font-face {
    font-family: 'fido'; /*a name to be used later*/
    src: url('../fonts/fido.ttf'); /*URL to font*/
}

#index{
	height: 100%;
	font-family: 'fido';
  background-color: #FFFFFF;
}

#instructions{
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Verdana';
	font-size:12px;
}

#logo{
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  vertical-align: middle;
  margin-top: 15%;
  margin-bottom: 4%;
  background-color: #FFFFFF;
}
#trivia{
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  vertical-align: middle;
}
#start{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 10%;
  width: 200px !important;
}

#highscore{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5%;
  width: 200px !important;
  background-color: black;
  border-color: black;
  color: white;
}

#about{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5%;
  width: 200px !important;
}

#instrucContinue{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 15%;
  margin-bottom: 15%;
  width: 200px !important;	
  font-family: 'fido';
}

.questionClass{
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'fido';
  font-size:22px;
  display: none;
  height:220px;
  vertical-align: middle;
  line-height: 200px;
}
.questionClass span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}
.answer{
  font-family: 'Verdana';
  font-size:11px;
  margin-bottom: 10px; 
  vertical-align: middle;
  height: 40px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  background-color: black;
  border-radius: 10px;
  word-wrap: break-word;
  padding-left:10px;
  padding-right:10px;
  line-height: 32px;
}

.answer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

#go{
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5%;
  width: 200px !important;
  font-family: 'fido';
}

#ok{
  display: none;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5%;
  width: 200px !important;
  font-family: 'fido';
}

#highscoreCont{
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Verdana';
	font-size:12px;
	width: 50%;
    margin: 0 auto;
	width: 300px;
}

#rightQuestion{
  margin-top: 50px;
  font-size: 22px;
  font-family: Verdana;
}

#rightAnswer{
  margin-top: 50px;
  font-size: 24px;
}
